[defaults]
roles_path       = /mnt/c/Users/rizzy/cybersecbella/projects/zero-trust-aws/roles
collections_path = /mnt/c/Users/rizzy/cybersecbella/projects/zero-trust-aws/collections
host_key_checking = False
stdout_callback  = yaml

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no